#header{
    height: 50px;
    background-color: black;
    display: flex;
    flex-wrap: wrap;
}

body {
    background-image: url("https://img.freepik.com/premium-photo/asian-tea-concept-two-white-cups-tea-teapot-tea-set-chopsticks-bamboo-mat-surrounded-with-dry-green-tea-white-background_76790-439.jpg?w=2000");
    background-color: #cccccc;
   }

.product {
    padding:15px;
    margin:10px;
    border:1px solid black;
}

.productWrapper{
    display: flex;
    
}

#products-container{
    padding: 0 90px;
    margin: 20px 0;
    justify-content: center;
}
